<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Early Detection Of Parkinson Disease</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Impact - v1.2.0
  * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">

      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Machine Learning<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="#hero">Home</a></li>
          <li><a href="#about">Parkinson Disease</a></li>
          <li><a href="#services">Predict</a></li>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Early Detection of<span> PARKINSON DISEASE</span></h2>
          <p>using Machine Learning</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started">Get Started</a>
            <a href="https://www.youtube.com/watch?v=cRLB7WqX0fU"
              class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch
                Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="../static/assets/img/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"></div>
              <h4 class="title"><a href="#" class="stretched-link">Tremor</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"></div>
              <h4 class="title"><a href="#" class="stretched-link">Slowed movements</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"></div>
              <h4 class="title"><a href="#" class="stretched-link">Rigid Muscles</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"></div>
              <h4 class="title"><a href="#" class="stretched-link">Impaired posture and balance</a></h4>
            </div>
          </div>
          <!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>What is exactly PARKINSON DISEASE?</h2>
          <p>Parkinson’s disease is a brain disorder that causes unintended or uncontrollable movements, such as
            shaking, stiffness, and difficulty with balance and coordination.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>Causes</h3>
            <img src="../static/assets/img/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <p>The most prominent signs and symptoms of Parkinson’s disease occur when nerve cells in the basal ganglia,
              an area of the brain that controls movement, become impaired and/or die. Normally, these nerve cells, or
              neurons, produce an important brain chemical known as dopamine. When the neurons die or become impaired,
              they produce less dopamine, which causes the movement problems associated with the disease. Scientists
              still do not know what causes the neurons to die..</p>
            <p>People with Parkinson’s disease also lose the nerve endings that produce norepinephrine, the main
              chemical messenger of the sympathetic nervous system, which controls many functions of the body, such as
              heart rate and blood pressure. The loss of norepinephrine might help explain some of the non-movement
              features of Parkinson’s, such as fatigue, irregular blood pressure, decreased movement of food through the
              digestive tract, and sudden drop in blood pressure when a person stands up from a sitting or lying
              position.</p>
            <p>Many brain cells of people with Parkinson’s disease contain Lewy bodies, unusual clumps of the protein
              alpha-synuclein. Scientists are trying to better understand the normal and abnormal functions of
              alpha-synuclein and its relationship to genetic variants that impact Parkinson’s and Lewy body dementia.

              Some cases of Parkinson’s disease appear to be hereditary, and a few cases can be traced to specific
              genetic variants. While genetics is thought to play a role in Parkinson’s, in most cases the disease does
              not seem to run in families. Many researchers now believe that Parkinson’s results from a combination of
              genetic and environmental factors, such as exposure to toxins.</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <h3>Symptoms</h3>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> Tremor in hands, arms, legs, jaw, or head.</li>
                <li><i class="bi bi-check-circle-fill"></i> Muscle stiffness, where muscle remains contracted for a long
                  time.</li>
                <li><i class="bi bi-check-circle-fill"></i> Slowness of movement.</li>
                <li><i class="bi bi-check-circle-fill"></i> Depression and other emotional changes.</li>
                <li><i class="bi bi-check-circle-fill"></i> Difficulty swallowing, chewing, and speaking.</li>
                <li><i class="bi bi-check-circle-fill"></i> Urinary problems or constipation.</li>
                <li><i class="bi bi-check-circle-fill"></i> Skin problems.</li>
              </ul>
              <p>
                The symptoms of Parkinson’s and the rate of progression differ among individuals. Early symptoms of this
                disease are subtle and occur gradually. For example, people may feel mild tremors or have difficulty
                getting out of a chair. They may notice that they speak too softly, or that their handwriting is slow
                and looks cramped or small. Friends or family members may be the first to notice changes in someone with
                early Parkinson’s. They may see that the person’s face lacks expression and animation, or that the
                person does not move an arm or leg normally.
              </p>

              <div class="position-relative mt-4">
                <img src="../static/assets/img/about-2.jpg" class="img-fluid rounded-4" alt="">

              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg ">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>PREDICTION OF PARKINSON DISEASE USING MACHINE LEARNING</h2>
        </div>
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-upload"></i>
              </div>
              <h3>UPLOAD IMAGE</h3>
              <form action="/predict" method="post" enctype="multipart/form-data">
                <input type="file" name="img" id="" required class="contact">
                <br>
                <br><input type="submit" value="upload" class="btn-get-started">
              </form>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>
    </section><!-- End Our Services Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <h3>EARLY DETECTION OF PARKINSON DISEASE</h3>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#her0">Home</a></li>
            <li><a href="#hero">Parkinson Disease</a></li>
            <li><a href="#services">Predict Parkinson Disease</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
          Union Christian College, Alwaye
          Kerala , Pin – 683102<br><br>
          <strong>Mob:</strong> +91-8281107533<br>
            <strong>Phone:</strong> 0484-2603633(office)<br>
            <strong>Email:</strong> mcaucc@gmail.com<br>
          </p>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <div class="copyright">
        School Of Computer Applications<strong><span> Union Christian College</span></strong>, Aluva
      </div>
      <div class="credits">
        Webiste <a href="https://mcaucc.edu.in//">CLICK HERE</a>
      </div>
    </div>
  </footer>
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>